{
    "source": {
        "object": "BKPrecision_9132B",
        "definition": "pythonequipmentdrivers.source",
        "address": "USB0::0xFFFF::0x9130::802359043757410117::INSTR",
        "init": [
            ["set_voltage", {"voltage": 0}],
            ["off", {}],
            ["set_current", {"current": 0}]
        ]
    },
    "oscilloscope": {
        "object": "Tektronix_DPO4xxx",
        "definition": "pythonequipmentdrivers.oscilloscope",
        "address": "TCPIP0::172.20.31.28::inst0::INSTR",
        "init": [
            ["set_channel_coupling", {"channel": 1, "coupling": "dc"}]
        ]
    },
    "oscilloscope2": {
        "object": "Tektronix_DPO4xxx",
        "definition": "pythonequipmentdrivers.oscilloscope",
        "address": "TCPIP0::172.20.31.7::inst0::INSTR",
        "init": [
            ["set_channel_coupling", {"channel": 1, "coupling": "dc"}]
        ]
    }
}